@use 'sass:math';

$gridstack-columns-bgstart: 1 !default;
$gridstack-bgcolumns: 12 !default;

@mixin grid-stack-bgitems($columns) {
  .grid-stack-placeholder[gs-w='#{$columns}'] .placeholder-content {
    background-size: math.div(100%, $columns) 130px;
  }
}

@for $j from $gridstack-columns-bgstart through $gridstack-bgcolumns {
  @include grid-stack-bgitems($j);
}
.grid-stack-placeholder .placeholder-content {
  background-color: lightblue;
  background-image: linear-gradient(90deg, #f4f4f4 10px, transparent 0),
    linear-gradient(0deg, #f4f4f4 10px, transparent 0);
}
.grid-stack > .currentGrid > .ui-resizable-handle {
  background-image: none;
  background-color: blue;
  width: 10px;
  height: 10px;
  transform: none;
  display: block !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-handle {
  background-image: none;
  display: none;
}

.grid-stack > .grid-stack-item > .ui-resizable-sw {
  left: 7px !important;
  bottom: 7px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-nw {
  left: 7px !important;
  top: 7px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  right: 7px !important;
  bottom: 7px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-s {
  left: 50%;
  bottom: 7px;
}

.grid-stack > .grid-stack-item > .ui-resizable-w {
  top: 50%;
  left: 7px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-e {
  top: 50%;
  right: 7px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-n {
  left: 50%;
  top: 7px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-ne {
  right: 7px !important;
  top: 7px !important;
}

.currentGrid,
.draggedGrid {
  .grid-stack-item-content {
    border: solid blue 2px;
  }
}
